body{
	margin: auto!important;
}

header{
    display: flex;
}

.toggle-all + label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 65px;
	font-size: 0;
	position: relative;
	top: auto;
	left: auto;
}

.toggle-all {
	width: 20px;
	height: 20px;
	border: none; /* Mobile Safari */
	opacity: 1;
	position: relative;
	right: auto;
	bottom: auto;
}



.div-toggleAll {
    display: flex;
	position:absolute;
	top:39px;
    width: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 999;
}

.div-input{
    width: 100%;
}

.info {
	font-size: 12px!important;
}


